@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    @views.html.template.fragments.head(title) {<!--before-->} {
	<script type="text/javascript" src="@routes.Assets.at("javascripts/facebook-head.js")"></script>
	}
    <body>
    	<div id="fb-root"></div>
        @content
        
        @views.html.template.fragments.foot("") {<!--before-->} {
		<script type="text/javascript" src="@routes.Assets.at("javascripts/facebook-foot.js")"></script>
		<script type="text/javascript" src="@routes.FacebookLogin.javascriptRoutes()"></script>
		}
    </body>
</html>
